@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2ECC71;
  --primaryHover: #27AE60;
  --text: #2C3E50;
  --neutralFondo: #ECF0F1;
  --white: #FFFFFF;
  --title: #1A1A1A;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




/* Animación para mostrar el menú mobile */
@keyframes menuFadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Animación para ocultar el menú mobile */
@keyframes menuFadeOut {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-menu-in {
  animation: menuFadeIn 0.7s ease forwards;
}

.animate-menu-out {
  animation: menuFadeOut 0.7s ease forwards;
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
